
@{
    ViewBag.Title = "Converter";
}
@*Basic page layout form for user input, text field and radio buttons*@
    <h1>Convert Miles to Metric</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="converter" method="get">
                <lable>
                    Miles</label>
                    <br>
                    <input class="userInput" type="number" step="0.01" name="miles" required>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    @*Message will show if it has been updated by the functions in the Updated GET Request*@
                    <h4 class="special_message">@ViewBag.message</h4>
</div>
        <div class="col-md-6">
            <h3>Select a unit</h3>
            <hr />
            <input type="radio" name="units" value="millimeters" id="millimeters" checked="checked" />
            <label for="millimeters">millimeters</label>
            <br />
            <input type="radio" name="units" value="centimeters" id="centimeters" />
            <label for="millimeters">centimeters</label>
            <br />
            <input type="radio" name="units" value="meters" id="meters" />
            <label for="millimeters">meters</label>
            <br />
            <input type="radio" name="units" value="kilometer" id="kilometer" />
            <label for="millimeters">Kilometers</label>
            <br />
            <input class="btn btn-primary btn-lg" type="submit" value="Convert" />
            </form>
        </div>
    </div>
