@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Content/Images/Title.png")" style="width:400px; height:280px" />
    </div>
    <div class="col-md-6">
        <img src="@Url.Content("~/Content/Images/Auction.png")" style="width:400px; height:280px" />
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <h2>Items For Sale</h2>
            <p>
                Click here to see a complete list of items that are currently up For bid
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Items")">See Items for Sale! &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Place a Bid</h2>
            <p>Click here to place a bid on a item </p>
            <p><a class="btn btn-default" href="@Url.Action("Create", "Home")">Bid on an Item! &raquo;</a></p>
        </div>
    </div>
