@model IEnumerable<Homework6.Models.Person>

@{
    ViewBag.Title = "List";
}

<h2>Names matching your search: @*@Html.DisplayFor(modelItem => item.Person1.FullName)*@ </h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.FullName)
        </td>
    </tr>
}

</table>
