body{
	background-color:#CCCCCC;
	color #000;
	
	font-family: Calibri;
	font-size:20px;
	font-weight:normal;
	
	line-height: 1.6em;
	margin:20px 20px;
}

a{
text-decoration:none;
color: white;
}

.clr{
	clear:both;
}

a:hover{
	color: purple;
	text-decoration:none;
}

.container h1{
	color:Black;
	text-align:left;
	margin:0;
}

.navbar{
	background: black;
}

.p-box{
	background: url('/Images/pieces.jpg');
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #ccc;
	box-sizing: border-box;
	position: relative;
}

.bottom-heading{
	text-align: left;
}
#link{
	color: blue;
}
#link:hover{
	color:purple;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} 
.stores{
	color: brown;
}