

@{
    ViewBag.Title = "Home Page";
}
@*Updated home page based on homework details and requirements*@
<div class="jumbotron">
    <h1>CS 460 Homework 5</h1>
    <p class="lead">
        A MVC web application that uses a simple one-table local database
    </p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2></h2>
        <p>
        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("CreateForm", "Form")">Try it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2></h2>
        <p>
        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Color")">Check it out &raquo;</a></p>
    </div>
</div>