

@{
    ViewBag.Title = "Home Page";
}
@*Updated home page based on homework details and requirements*@
<div class="jumbotron">
    <h1>CS 460 Homework 5</h1>
    <p class="lead">
        A MVC web application that uses a simple one-table local database
    </p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Tennant Request Form</h2>
        <p> Here I show a form that simulates an tennant issue request, you will need to input user information in order for the form to complete.
        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Home")">To the Form &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Request Form List</h2>
        <p> In this location, the person in charge of form processing can access a list of forms that need to be reviewed.
        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("FormsList", "Home")">To the List &raquo;</a></p>
    </div>
</div>